@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif;
  --color-akari-green: #85B258;
  --color-akari-green-dark: #6a9045;
  --color-akari-green-outline: #4E6332;
  --color-akari-orange: #F79F59;
  --color-akari-orange-light: #fbd2b3;
  --color-akari-brown: #563C33;
  --color-akari-cream: #FDFBF7;
}

body {
  background-color: transparent;
  color: var(--color-akari-brown);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
